<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Biller</name>
    <description>
        Very easy user interface to generate your bill and download PDF.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        THEUPTREE
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="assets/images/mdpi.png" density="mdpi" />
        <icon src="assets/images/hdpi.png" density="hdpi" />
        <icon src="assets/images/xhdpi.png" density="xhdpi" />
        <icon src="assets/images/xxhdpi.png" density="xxhdpi" />
        <icon src="assets/images/xxxhdpi.png" density="xxxhdpi" />
   <splash src="drawable-land-xxhdpi-screen.png"/>

</platform>
       <preference name="SplashScreenDelay" value="3000" />


    <plugin name="cordova-pdf-generator" spec="^2.0.1" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
