<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Biller</name>
    <description>
        Very easy user interface to generate your bill and download PDF.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        THEUPTREE
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreenDelay" value="3000" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="assets/images/mdpi.png" density="mdpi" />
        <icon src="assets/images/hdpi.png" density="hdpi" />
        <icon src="assets/images/xhdpi.png" density="xhdpi" />
        <icon src="assets/images/xxhdpi.png" density="xxhdpi" />
        <icon src="assets/images/xxxhdpi.png" density="xxxhdpi" />
        <splash density="land-ldpi" src="assets/images/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="assets/images/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="assets/images/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="assets/images/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="assets/images/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="assets/images/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="assets/images/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="assets/images/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="assets/images/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="assets/images/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="assets/images/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="assets/images/drawable-port-xxxhdpi-screen.png" />
</platform>
       <preference name="SplashScreenDelay" value="3000" />

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-pdf-generator" spec="^2.0.1" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
